<div class="row">
  <div class="col-sm-2">
  <app-menu></app-menu>
  </div>
  <div class="col-sm-10" >
    <div class="main-content" id="panel">
  <app-header></app-header>
<div class="header bg-primary pb-6" style="background-color: #5e72e4 !important;" >
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Documents</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="dashboard.html"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Documents</a></li>
                <li class="breadcrumb-item active" aria-current="page">Default</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--table class="table">
<thead>
  <tr>
    <th scope="col"><h1>Modèles de baux et Etat des lieux</h1></th>
  </tr>
</thead>
  <tr>
    <th scope="row"><a href="#"><u>Bail civil</u></a></th>
  </tr>
  <tr>
    <th scope="row"><a href="#"><u>Bail de location meubléé</u></a></th>
  </tr>
  <tr>
    <th scope="row"><a href="#"><u>Bail de location de parking</u></a></th>
  </tr>
  <tr>
    <th scope="col"><h1>POUR PROPRIETAIRE</h1></th>
  </tr>
</thead>
  <tr>
    <th scope="row"><a href="#"><u>Accord pour la transmission dématérialisée de la quittance</u></a></th>
  </tr>
  <tr>
    <th scope="row"><a href="#"><u>Appel à la caution</u></a></th>
  </tr>
  <tr>
    <th scope="row"><a href="#"><u>Attestation de loyer</u></a></th>
  </tr>
  <th scope="col"><h1>POUR LOCATAIRE</h1></th>
  </tr>
</thead>
  <tr>
    <th scope="row"><a href="#"><u>Contestation de la révision du loyer</u></a></th>
  </tr>
  <tr>
    <th scope="row"><a href="#"><u>Contestation de l'augmentation de loyer</u></a></th>
  </tr>
  <tr>
    <th scope="row"><a href="#"><u>Contestation des charges</u></a></th>
  </tr>
</table-->
<app-footer></app-footer>
</div>
</div>
</div>
