<div class="row">
<div class="col-sm-2">
  <app-menu></app-menu>
  </div>

<div class="col-sm-10" >
  <app-header></app-header>
  <div class="header bg-primary pb-6" style="background-color: #5e72e4 !important;">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="dashboard.html"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Locataire</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Ajout locataire physique</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
       </div>  
      </div>
      <div class="container">
      <div class="p-3 ">
    <div class="container-fluid mt--6">
      <div class="row justify-content-center">
      <div class=" col ">
    <div class="card" >
      <div class="card-header bg-transparent">
        <h5 class="mb-0">Ajouter un nouveau locataire de type particulier</h5>
      </div>
        
        <!--button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button-->
        <form method="POST" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
     <div class="card-body">
    <div class="text-center"><h5 class="title">Identification du locataire</h5></div>

        <div class="row">
    <div class="col-md-4 col-sm-12">
      <label for="Civilité" class="form-label"><b>Civilité</b></label>
      <select class="form-control"  id="Civilité">
        <option selected>Civilité</option>
        <option value="1">Mlle</option>
        <option value="2">Mdme</option>
        <option value="3">Mr</option>
      </select>
   
    
      <label for="Prenom" class="form-label"><b>Prenom</b></label>
      <input type="text" class="form-control" placeholder="Prenom" name="prenom" aria-label="Prenom" id="Prenom" [(ngModel)]="user.prenom">
   
    
      <label for="Nom" class="form-label"><b>Nom</b></label>
      <input type="text" class="form-control" placeholder="Nom" name="nom" aria-label="Nom" id="Nom" [(ngModel)]="user.nom">
    </div>

    <div class="col-md-4 col-sm-12">
      <label for="Adresse" class="form-label"><b>Adresse</b></label>
      <input type="text" class="form-control" placeholder="Adresse" name="adresse" aria-label="Adresse" id="Adresse" [(ngModel)]="user.adresse">
    
      <label for="Telephone" class="form-label"><b>Telephone</b></label>
      <input type="text" class="form-control" placeholder="Telephone" name="telephone" aria-label="Telephone" id="Telephone" [(ngModel)]="user.telephone">
    
   
      <label for="CIN" class="form-label"><b>N° CIN</b></label>
     <input type="text" class="form-control" placeholder="N° CIN" name="CIN" aria-label="CIN" id="CIN" [(ngModel)]="user.CIN">
   </div>
  </div>
  <div class="text-center"><h5>Création du compte</h5> </div>
  <div class="row">
  <div class="col-md-4 col-sm-12">

      <input type="hidden" class="form-control"  name="role" aria-label="role" [(ngModel)]="user.role">
      <label for="Email" class="form-label"><b>Email</b></label>
      <input type="Email" class="form-control" placeholder="Email" name="email" aria-label="Email" id="Email" [(ngModel)]="user.email">
  
        <label for="password" class="form-label"><b>Mot de passe</b></label>
        <input class="form-control" type="password" id="password" name="password" placeholder="Mot de passe" [(ngModel)]="user.password">
      
        <label for="Image" class="form-label"><b>Image</b></label>
        <input class="form-control" name="image" type="file" id="Image" (change)="imageUpload($event)" [(ngModel)]="user.image">
      
    </div>
  </div>

  <h5 class="title">Documents justificatifs</h5> <span (click)="addForm()" class="btn btn-secondary">+</span>
 <div class="row row1 " *ngFor="let obj of dataarray">
  <div class="col">
    <div class="mb-3">
      <label for="nom_doc" class="form-label"><b>Nom du document</b></label>
      <input class="form-control" type="text" id="nom_doc" name="nom" placeholder="Nom du document" [(ngModel)]="obj.nom">
    </div>
  </div>
  <div class="col">
    <div class="mb-3">
      <label for="doc" class="form-label"><b>Fichier joint (format accepté : PNG, JPG, JPEG, Word, PDF)</b></label>
      <input class="form-control" type="file" id="doc" name="doc" [(ngModel)]="obj.doc">
    </div>
  </div>
  
 </div> 
 <div class="pull-right">
 <div class="buttons">
 <button type="button" class="btn btn-primary">Annuler</button>
 <button type="submit" class="btn btn-success">Enregistrer</button> 
</div>
</div>

    </div>
  </form>
  </div>
</div>
  </div>

  <app-footer></app-footer>
  </div>
  </div>
</div>
</div> 

